{% for item in basket_items %}
<section>
    <ul class="basket-list">
        <li>
            <img src="/media/{{ item.product.image }}"
                 alt="{{ item.product.short_desc }}">
            <h3>{{ item.product.category.name }}</h3>
            <h3>{{ item.product.name }}</h3>
            <p>{{ item.product.price }}&nbspруб</p>
            <input type="number" name="{{ item.pk }}"
                   min="0"
                   value="{{ item.quantity }}">
            <p class="product_cost">{{ item.cost }}&nbspруб</p>
            <button class="btn btn-round">
                <a href="{% url 'basket:remove' item.pk %}" class="">
                    удалить
                </a>
            </button>
        </li>
    </ul>
</section>
{% endfor %}

{% if basket_items %}
<div class="basket_summary">
    В корзине {{ basket_items.0.total_quantity }} товаров общей стоимостью
    {{ basket_items.0.total_cost }} руб
</div>
{% endif %}